@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');

html {
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Rubik', sans-serif;
}

input:focus {
  box-shadow: none !important;
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  padding-bottom: 0;
}

select:focus {
  outline-color: none !important;
  box-shadow: none !important;
}

.product-hero-wrapper {
  max-width: 100%;
  width: 100vw;
  height: 420px;

  background-image: url('./Images/product-hero-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  position: relative;
}
.product-hero-wrapper::before {
  content: '';
  background-color: #28a9e1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  z-index: 1;
}
.hero-content-box {
  color: #fff !important;
  z-index: 1;
  font-size: 165px;
}
.hero-content-box h2 {
  font-size: 65px;
}
.product-breadcrumb-box {
  background-color: #417d97;
  font-family: var(--secondary-font);
  font-size: 16px;
}

/* product-filter-wrapper */
.product-filter-wrapper {
  /* margin-block-start: -75px !important; */
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 40%;
}

.filter-container {
  box-shadow: 2px 15px 15px #eff3ffb9;
  border: 1px solid #fcfcfc;
}

.product-filter-wrapper .product-filter-wrapper .filter-box-wrapper {
  margin: auto;
  width: 100%;
}
.product-filter-wrapper .filter-box-wrapper h2 {
  font-size: 22px;
  font-weight: 600;
}

.product-filter-wrapper .filter-box select {
  border-radius: 2px !important;
  padding: 10px !important;
}

@media (max-width: 1200px) {
  .product-filter-wrapper .filter-box-wrapper .filter-box {
    display: flex;
    flex-wrap: wrap;
  }
  .product-filter-wrapper .filter-box-wrapper .filter-box .form-select {
    width: 49% !important;
  }
}
@media (max-width: 768px) {
  .product-filter-wrapper .filter-box-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .product-filter-wrapper .filter-box-wrapper .filter-box {
    display: flex;
    flex-wrap: wrap;
  }
  .product-filter-wrapper .filter-box-wrapper .filter-box .form-select {
    width: 100% !important;
  }
}

.product-grid-wrapper {
  margin-top: 100px;
}
.product-breadcrumb-box a {
  color: #fff;
  text-decoration: none;
}
.product-grid-wrapper .colors-wrap-container {
  margin-top: 100px;
}

.product-grid-wrapper .product-breadcrumb-box a {
  color: #fff;
}
.product-grid-wrapper .product-content-box {
  transition: all 0.4s;
  border: 1px solid #2babe200;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.product-grid-wrapper .product-content-box img {
  max-width: 100%;
}
.product-grid-wrapper .product-wrap-box {
  position: relative;
  transition: all 03s ease;
}
.product-grid-wrapper .product-batch {
  position: absolute;
  top: 35%;
  right: -30%;
  transition: all 0.5s;
}

.product-grid-wrapper .product-batch p {
  background-color: #2baae2;
  width: max-content;
  color: #fff;
  padding: 5px 20px;
}

.product-grid-wrapper .product-b-content {
  padding: 15px 20px;
}
.product-grid-wrapper .product-b-content h5 {
  text-align: center;
}

.product-grid-wrapper .product-downloadbtn {
  color: #2baae2;
  border: 1px solid #2baae2;
  padding: 20px 30px 20px 30px;
  display: block;
  width: 100%;
  background: #fff;
  transition: all 0.4s ease;
  font-weight: 600;
}
.product-grid-wrapper .product-downloadbtn:hover {
  background: #2baae2;
  color: #fff;
}
.product-grid-wrapper .product-wrap-box:hover .product-b-content {
  background-color: #fff;
  box-shadow: 0px 12px 20px #dcecf3;
  transition: all 0.3s ease;
}
.product-grid-wrapper .product-wrap-box:hover .product-content-box {
  border: 1px solid #2baae2;
}
.product-b-content .divider {
  display: block;
  height: 1px;
  background-color: #28a9e1;
  max-width: 60%;
  margin: auto;
}
.product-b-content .product-sub-title {
  text-align: center;
  margin: 5px 0;
  font-size: small;
}

.wishlist-add {
  background: #fff;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  color: #000;
}
.product-wrap-box:hover .product-batch {
  right: 5%;
}
